.storybook-tags{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 6px 8px;
gap: 4px;
width: 59px;
height: 32px;
background: #444446;
border-radius: 4px;
flex: none;
order: 0;
color: #FFFFFF;
flex-grow: 0;
}
.storybook-tags--default{
    color: #FFFFFF;
}
.storybook-tags--UserTag{
    background: rgba(51, 130, 255, 0.32);
    border: 1px solid #3382FF;
    border-radius: 4px;
}
.storybook-tags--PlayersTag{
    background: rgba(103, 44, 186, 0.32);
border: 1px solid #8338EC;
border-radius: 4px;
}
.storybook-tags--SystemTag{
    background: rgba(255, 190, 11, 0.32);
border: 1px solid #FFBE0B;
border-radius: 4px;
}